<mat-toolbar class="box-shadow" id="box" color="primary">
<mat-toolbar-row> <mat-icon class="example-icon">favorite</mat-icon>
<span>DevOps - Showcase</span> <span class="example-spacer"></span>
<button (click)="sidenav.toggle()" mat-icon-button>
	<mat-icon>menu</mat-icon>
</button>
</mat-toolbar-row> </mat-toolbar>

<mat-sidenav-container>
<mat-sidenav #sidenav mode="over" position='end'>
    <!-- sidenav content -->
  </mat-sidenav>
<div>
	<agm-map [zoom]="zoom" [latitude]="lat" [longitude]="lng"> <agm-marker
		[label]="label" [latitude]="lat" [longitude]="lng"></agm-marker> </agm-map>
</div>
</mat-sidenav-container>